body {
    background-image:url('./assets/background.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 50%;
    width:100%;
    font-family: sans-serif;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(146, 132, 87)
    
  

}
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 30%;
    margin-left: 72%;
    margin-right: 28%;
    padding: 20px;
    max-width: 300px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  


  
  h1, h2 {
    font-family: Georgia, serif;
  }
  
  .item p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: Roboto, arial, helvetica;
  }
  
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
    font-family: Roboto, arial, helvetica;
    
  }
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: rgb(124, 112, 72);
    font-size: 20px;
    text-decoration: none;
    font-weight:bold;
  }
  
  a:visited {
    color: rgb(124, 112, 72);
  }
  
  a:hover {
    color: rgb(255, 255, 255);
  }
  
  a:active {
    color: rgb(255, 255, 255);
  }